.folder-main {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
	background: #23272b;
}

.folder-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 32px 5px 32px;
	border-bottom: 1px solid #23272b;
	background: #23272b;
	container-type: inline-size;
}
@container (max-width: 680px) {
	.folder-search {
		display: none;
	}
}
.folder-title {
	font-size: 1.3rem;
	font-weight: 600;
	color: #fff;
	display: flex;
	align-items: center;
	gap: 10px;
}
.folder-title img {
	width: 28px;
	height: 28px;
	/* filter: invert(1); */
}
.folder-search {
	border: 1.5px solid #23272b;
	border-radius: 8px;
	padding: 7px 16px;
	font-size: 15px;
	background: #181a1b;
	color: #fff;
	outline: none;
	width: 200px;
	transition: border 0.15s;
}
.folder-search:focus {
	border: 1.5px solid #4cc2ff;
}

.folder-content {
	flex: 1;
	padding: 32px 32px;
	display: flex;
	flex-wrap: wrap;
	gap: 32px 28px;
	overflow-y: auto;
	align-content: flex-start;
}
.folder-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 110px;
	min-height: 120px;
	background: none;
	border-radius: 10px;
	padding: 12px 6px 8px 6px;
	color: #fff;
	font-size: 15px;
	transition: background 0.13s;
	user-select: none;
	cursor: pointer;
}
.folder-row img {
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
	/* filter: invert(1); */
}

.folder-row span {
	text-align: center;
	/* word-break: break-all; */
	margin-top: 2px;
	font-size: 15px;
	color: #e0e0e0;
	width: 100%;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Number of lines */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.folder-row:hover {
	background: #353b40;
}
.folder-empty {
	color: #aaa;
	text-align: center;
	margin-top: 40px;
	font-size: 1.1rem;
}
.folder-btn {
	background: transparent;
	color: #fff;
	border: none;
	border-radius: 6px;
	padding: 7px 18px;
	font-size: 15px;
	cursor: pointer;
	transition: background 0.13s;
	margin: 8px;
	background-color: #191b1c;
}
.folder-btn:hover {
	background: #353b40;
}
hr {
	opacity: 0.2;
}
