* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	
}
body {
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.branding{
	position: absolute;
	bottom: 70px;
	right: 10px;
	color: white;
	font-size: 14px;
	opacity: .6;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	& img{
		width: 22px;
		height: 32px;
		vertical-align: middle;
		margin-right: 8px;
	}
}
.branding div:nth-child(1){
	display: flex;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
	font-size: 25px;
	letter-spacing: 1.8px;
}
.branding div:nth-child(2){
	display: flex;
	justify-content: end;
	align-items: center;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1.8px;
}